<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712656946501-2d81faukflitjqo802ihjlvk1d2003gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712656946501-2d81faukflitjqo802ihjlvk1d2003gh</string>
	<key>API_KEY</key>
	<string>AIzaSyACWM9yJej2K3Ec_H0Nn2XHjpKOmUxeF54</string>
	<key>GCM_SENDER_ID</key>
	<string>712656946501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masaytan.KyotoTrip</string>
	<key>PROJECT_ID</key>
	<string>kyoto-trip-masayuki5160</string>
	<key>STORAGE_BUCKET</key>
	<string>kyoto-trip-masayuki5160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712656946501:ios:8bc9772e17ccf4374dea2c</string>
	<key>DATABASE_URL</key>
	<string>https://kyoto-trip-masayuki5160.firebaseio.com</string>
</dict>
</plist>