# This is a basic workflow to help you get started with Actions

name: Upload IPA to App Store Connect

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macOS-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Select Xcode version
      run: sudo xcode-select -s '/Applications/Xcode_11.5.app/Contents/Developer'

    - name: Show Xcode version
      run: xcodebuild -version

    - name: Pod Install
      run: pod install

    - name: Keychain.p12
      run: |
        echo "${{ secrets.KYOTOTRIP_DISTRIBUTION_P12 }}" > ios_distribution.p12.txt
        base64 --decode ios_distribution.p12.txt > ios_distribution.p12

    - name: ProvisioningProfile
      run: |
        echo "${{ secrets.KYOTOTRIP_PRODUCTION_MOBILEPROVISION }}" > kyoto_trip.mobileprovision.txt
        base64 --decode kyoto_trip.mobileprovision.txt > kyoto_trip.mobileprovision

    - name: list files
      run: ls -l

    - name: upload IPA to App Store Connect
      env:
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        CERT_PASSWORD: ${{ secrets.CERT_PASSWORD }}
        GNAVI_ACCESSTOKEN: ${{ secrets.GNAVI_ACCESSTOKEN }}
        MGL_MAPBOX_ACCESSTOKEN: ${{ secrets.MGL_MAPBOX_ACCESSTOKEN }}
        FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
      run: |
        fastlane release_with_githubactions


